# Ignore configuration files that may contain sensitive information.
public_html/sites/*/*settings.php
public_html/sites/default/files.tgz
public_html/sites/default/private-files.tgz
public_html/sites/default/files
public_html/sites/default/*

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private


# Ignore paths that contain generated content.
public_html/cache/
public_html/files/
public_html/sites/*/files
public_html/sites/*/private

/.settings
/.buildpath
/.project
.idea/
.idea/*
.idea/workspace.xml
