@charset "UTF-8";
@font-face {
  font-family: cabin-font;
  src: url(../../../fonts/cabin/Cabin-Regular.otf) format("opentype"); }
@font-face {
  font-family: open-sans-font;
  src: url(../../../fonts/open-sans/OpenSans-Regular.ttf) format("opentype"); }
/* line 13, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-region--navigation ul li ul {
  display: none; }

/* line 16, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-region--navigation ul > li:hover ul {
  display: block;
  position: absolute;
  background-color: #4baedb;
  background-color: rgba(75, 174, 219, 0.6);
  text-transform: none;
  border-top: 1px solid #4baedb;
  margin-left: 0;
  margin-top: 0; }

/* line 27, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-region--navigation ul li ul li:hover a {
  color: #fff; }
  /* line 29, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-region--navigation ul li ul li:hover a:before {
    content: '•';
    color: #fff;
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 20px; }

/* line 38, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-region--navigation ul li ul li:hover {
  background-color: #4baedb; }

/* line 42, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-region--navigation ul li ul li {
  display: block;
  margin: 0;
  border-left: none;
  padding: 0;
  position: relative; }

/* line 49, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-region--navigation ul li ul li a {
  color: #fff;
  display: block;
  padding: 10px 10px 10px 20px;
  text-transform: none;
  min-width: 245px; }

/* line 59, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-slider-content {
  overflow: hidden;
  max-height: 350px; }

/* line 64, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-menu .block__title {
  display: none; }
/* line 67, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-menu ul {
  padding: 0; }
  /* line 69, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-menu ul > li {
    display: inline-block;
    border-left: 3px solid white; }
    /* line 73, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-menu ul > li a.active {
      color: #4baedb; }
    /* line 76, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-menu ul > li a:nth-child(1) {
      padding-left: 0; }
    /* line 79, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-menu ul > li > a {
      text-decoration: none;
      text-transform: uppercase;
      color: #4D4D4D;
      font-weight: bold;
      display: block;
      padding-left: 14px;
      padding-right: 14px;
      padding-bottom: 10px;
      padding-top: 9px;
      border-left: 3px solid #fff; }
      /* line 90, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-menu ul > li > a:hover {
        color: #4baedb; }
  /* line 98, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-menu ul li.expanded a:hover {
    color: #fff;
    background-color: #4baedb;
    background-color: rgba(75, 174, 219, 0.6);
    border-left: 3px solid #4baedb; }
  /* line 107, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-menu ul li.expanded ul li a {
    border-left: 3px solid #4baedb; }

/* line 118, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-who {
  background: #efefef;
  text-align: center; }
  /* line 121, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-who p {
    font-size: 14px; }

/* line 126, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-4 .block__content {
  width: 65%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center; }

/* line 134, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-2 .block__content {
  width: 65%;
  margin: 0 auto; }

/* line 139, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-services {
  text-align: center; }

/* line 142, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-views-services-we-offer-block {
  display: none; }

/* line 147, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-views-services-we-offer-block-1 {
  overflow: hidden;
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px; }
  /* line 153, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block-1 img {
    width: 80px; }
  /* line 157, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block-1 .block__content a {
    color: #6d6e70;
    text-decoration: none;
    font-size: 18px; }
    /* line 161, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block-1 .block__content a:hover {
      color: #4baedb; }
  /* line 166, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block-1 .block__content ul li {
    list-style: none;
    text-align: center; }
    /* line 169, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block-1 .block__content ul li .views-field-title-custom {
      margin-bottom: 20px;
      height: 30px;
      display: block; }
    /* line 174, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block-1 .block__content ul li .views-field-field-icon {
      height: 100px; }

/* line 182, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.find-us {
  display: none; }

/* line 185, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.contact-details-block
.l-page-container {
  padding: 5px; }

/* line 190, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-10 iframe {
  height: 235px !important; }

/* line 194, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
input[type='text'] {
  width: 100%;
  height: 40px; }

/* line 198, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
textarea {
  border: #ccc 1px solid;
  height: 188px; }

/* line 202, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-5 {
  display: block;
  margin-top: 40%;
  color: #fff;
  font-weight: bold;
  text-align: center; }
  /* line 209, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-5 p {
    font-size: 18px;
    width: 50%;
    margin: 0 auto; }
  /* line 214, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-5 .footer-number {
    background: #fff;
    border-radius: 10px;
    color: #4aaddb;
    padding: 10px;
    font-size: 14px;
    display: block;
    width: 155px;
    margin: 15px auto; }

/* line 225, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-top: 110px;
  min-height: 245px;
  background: transparent url("../../../images/footer/Footer_x3_Retina%20HD.png") repeat-x scroll 92% 73%/1120px auto; }

@media (min-width: 720px) {
  /* line 233, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  h2 {
    margin-top: 75px;
    margin-bottom: 40px;
    font-family: cabin-font;
    font-size: 22px; }

  /* line 239, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  p {
    font-size: 14px; }

  /* line 242, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-page-container {
    width: 720px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    *zoom: 1; }
    /* line 247, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-page-wrapper {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 250, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-header {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      overflow: hidden;
      *zoom: 1; }
      /* line 254, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-branding {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 257, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-menu {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 260, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-logo {
        width: 74.57627%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; }
      /* line 263, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-region--branding {
        width: 23.72881%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }

  /* line 268, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-map {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 271, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-who {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    background: #efefef;
    text-align: center; }

  /* line 276, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-services {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center; }

  /* line 280, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-main {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 284, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-2 .block__content {
    margin-bottom: 75px;
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
    /* line 287, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-2 .block__content p {
      margin: 0; }

  /* line 293, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-6 .block__content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    margin-bottom: 40px; }

  /* line 298, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 300, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 h2 {
      margin-top: 75px;
      margin-bottom: 40px;
      font-family: cabin-font; }
    /* line 305, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 .block__content {
      margin-bottom: 75px;
      width: 74.57627%;
      float: left;
      margin-right: -100%;
      margin-left: 8.47458%;
      clear: none; }
      /* line 308, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-block-4 .block__content p {
        margin: 0; }

  /* line 313, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block {
    display: block;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 316, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block img {
      width: 80px; }
    /* line 319, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block .block__content {
      width: 74.57627%;
      float: left;
      margin-right: -100%;
      margin-left: 8.47458%;
      clear: none; }
      /* line 321, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content a {
        color: #6d6e70;
        text-decoration: none;
        font-size: 18px; }
        /* line 325, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content a:hover {
          color: #4baedb; }
      /* line 329, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content .view-content {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
        /* line 331, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content .view-content .views-row {
          display: inline-block;
          width: 48%;
          margin-bottom: 50px;
          text-align: center; }
          /* line 336, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
          #block-views-services-we-offer-block .block__content .view-content .views-row .views-field-title {
            margin-bottom: 20px; }

  /* line 343, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block-1 {
    display: none; }

  /* line 346, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 110px;
    min-height: 360px;
    background: transparent url("../../../images/footer/Footer_x3_Retina%20HD.png") repeat-x scroll 0% 90%/75% auto; }
    /* line 351, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-footer #block-block-5 {
      display: block;
      margin-top: 35%;
      color: #fff;
      font-weight: bold;
      text-align: center; }
      /* line 357, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 p {
        font-size: 18px; }
      /* line 360, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 .footer-number {
        background: #fff;
        border-radius: 10px;
        color: #4aaddb;
        padding: 10px;
        font-size: 14px;
        width: 20%; }

  /* line 370, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .group-enquiries {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 373, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-personal {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 376, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-message {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 379, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .form-actions {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }

  /* line 384, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  input[type='text'] {
    width: 100%;
    height: 40px; }

  /* line 388, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  textarea {
    border: #ccc 1px solid;
    height: 188px; }

  /* line 393, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .contact-details-block h4 {
    text-transform: uppercase;
    color: #4aaddb;
    font-weight: bold;
    margin: 0 0 10px 0; }
  /* line 399, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .contact-details-block a {
    color: #6d6e71; }
    /* line 401, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .contact-details-block a:hover {
      color: #4aaddb; }
  /* line 405, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .contact-details-block .left-contact {
    float: left;
    margin-right: 90px; }
  /* line 409, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .contact-details-block .right-contact {
    float: left; }

  /* line 413, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-10 {
    position: relative; }
    /* line 415, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-10 iframe {
      height: 600px !important; }

  /* line 419, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .find-us {
    display: block;
    padding: 20px;
    background-color: rgba(75, 174, 219, 0.6);
    color: #fff;
    width: 365px;
    position: absolute;
    left: 45%;
    top: 55.5%; }
    /* line 428, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .find-us h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-family: cabin-font; }
    /* line 433, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .find-us h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-family: cabin-font; }
    /* line 438, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .find-us p {
      margin-top: 30px; }

  /* line 442, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-5 p {
    width: 100%; } }
@media (min-width: 960px) {
  /* line 449, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  h2 {
    margin-top: 75px;
    margin-bottom: 40px;
    font-family: cabin-font;
    font-size: 22px; }

  /* line 455, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  p {
    font-size: 14px; }

  /* line 459, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-page-container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1; }
    /* line 463, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-page-wrapper {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 466, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-header {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      overflow: hidden;
      *zoom: 1; }
      /* line 470, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-branding {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 473, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-menu {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 476, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-logo {
        width: 74.57627%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; }
      /* line 479, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-region--branding {
        width: 23.72881%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }

  /* line 484, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-who {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    background: #efefef;
    text-align: center; }

  /* line 489, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-services {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center; }

  /* line 493, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-main {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 497, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-2 .block__content {
    margin-bottom: 75px;
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none; }
    /* line 500, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-2 .block__content p {
      margin: 0; }

  /* line 506, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-6 .block__content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    margin-bottom: 40px; }

  /* line 511, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 513, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 h2 {
      margin-top: 75px;
      margin-bottom: 40px;
      font-family: cabin-font; }
    /* line 518, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 .block__content {
      margin-bottom: 75px;
      width: 49.15254%;
      float: left;
      margin-right: -100%;
      margin-left: 25.42373%;
      clear: none; }
      /* line 521, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-block-4 .block__content p {
        margin: 0; }

  /* line 526, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 528, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block img {
      width: 80px; }
    /* line 531, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block .block__content {
      width: 66.10169%;
      float: left;
      margin-right: -100%;
      margin-left: 16.94915%;
      clear: none; }
      /* line 533, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content a {
        color: #6d6e70;
        text-decoration: none;
        font-size: 18px; }
        /* line 537, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content a:hover {
          color: #4baedb; }
      /* line 541, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content .view-content {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
        /* line 543, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content .view-content .views-row {
          display: inline-block;
          width: 32%;
          margin-bottom: 50px;
          text-align: center; }
          /* line 548, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
          #block-views-services-we-offer-block .block__content .view-content .views-row .views-field-title {
            margin-bottom: 20px; }

  /* line 555, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 110px;
    min-height: 375px;
    background: transparent url("../../../images/footer/Footer_x3_Retina%20HD.png") repeat-x scroll 0% 90%/75% auto; }
    /* line 560, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-footer #block-block-5 {
      margin-top: 29%;
      color: #fff;
      font-weight: bold;
      text-align: center; }
      /* line 565, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 p {
        font-size: 24px; }
      /* line 568, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 .footer-number {
        background: #fff;
        border-radius: 10px;
        color: #4aaddb;
        padding: 10px;
        font-size: 18px;
        display: inline-block;
        width: 20%; }

  /* line 579, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .group-enquiries {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 582, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-personal {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 585, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-message {
      width: 66.10169%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 588, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .form-actions {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }

  /* line 593, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  input[type='text'] {
    width: 100%;
    height: 40px; }

  /* line 597, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  textarea {
    border: #ccc 1px solid;
    height: 188px; }

  /* line 601, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .find-us {
    left: 60%; } }
@media (min-width: 1200px) {
  /* line 609, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  h2 {
    margin-top: 75px;
    margin-bottom: 40px;
    font-family: cabin-font;
    font-size: 22px; }

  /* line 615, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  p {
    font-size: 14px; }

  /* line 618, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-page-container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1; }
    /* line 622, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-page-wrapper {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 625, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-header {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      overflow: hidden;
      *zoom: 1; }
      /* line 629, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-branding {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 632, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-menu {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
        border-top: 1px solid #dadada; }
      /* line 636, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-logo {
        width: 74.57627%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; }
      /* line 639, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-region--branding {
        width: 23.72881%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }

  /* line 644, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-who {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 647, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-services {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 650, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-main {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 654, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-2 .block__content {
    margin-bottom: 75px;
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none; }
    /* line 657, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-2 .block__content p {
      margin: 0; }

  /* line 663, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-6 .block__content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    margin-bottom: 40px; }

  /* line 668, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 670, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 h2 {
      margin-top: 75px;
      margin-bottom: 40px;
      font-family: cabin-font; }
    /* line 675, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 .block__content {
      margin-bottom: 75px;
      width: 49.15254%;
      float: left;
      margin-right: -100%;
      margin-left: 25.42373%;
      clear: none; }
      /* line 678, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-block-4 .block__content p {
        margin: 0; }

  /* line 683, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 685, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block img {
      width: 80px; }
    /* line 688, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block .block__content {
      width: 66.10169%;
      float: left;
      margin-right: -100%;
      margin-left: 16.94915%;
      clear: none; }
      /* line 690, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content a {
        color: #6d6e70;
        text-decoration: none;
        font-size: 18px; }
        /* line 694, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content a:hover {
          color: #4baedb; }
      /* line 698, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content .view-content {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
        /* line 700, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content .view-content .views-row {
          display: inline-block;
          width: 32%;
          margin-bottom: 50px;
          text-align: center; }
          /* line 705, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
          #block-views-services-we-offer-block .block__content .view-content .views-row .views-field-title {
            margin-bottom: 20px; }

  /* line 712, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 110px;
    min-height: 615px;
    background: transparent url("../../../images/footer/Footer_x3_Retina%20HD.png") repeat-x scroll 0% 90%/75% auto; }
    /* line 717, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-footer #block-block-5 {
      margin-top: 40%;
      color: #fff;
      font-weight: bold;
      text-align: center; }
      /* line 722, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 p {
        font-size: 24px; }
      /* line 725, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 .footer-number {
        background: #fff;
        border-radius: 10px;
        color: #4aaddb;
        padding: 10px;
        font-size: 18px; }

  /* line 734, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .group-enquiries {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 737, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-personal {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 740, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-message {
      width: 66.10169%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 743, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .form-actions {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }

  /* line 748, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  input[type='text'] {
    width: 100%;
    height: 40px; }

  /* line 752, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  textarea {
    border: #ccc 1px solid;
    height: 188px; }

  /* line 756, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .find-us {
    left: 70%; } }

/*# sourceMappingURL=omega_codepulse-front.layout.css.map */
