@charset "UTF-8";
@font-face {
  font-family: 'cabin-font';
  src: url("../../../fonts/custom_fonts/cabin/cabin-regular-webfont.eot");
  src: url("../../../fonts/custom_fonts/cabin/cabin-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/custom_fonts/cabin/cabin-regular-webfont.woff2") format("woff2"), url("../../../fonts/custom_fonts/cabin/cabin-regular-webfont.woff") format("woff"), url("../../../fonts/custom_fonts/cabin/cabin-regular-webfont.ttf") format("truetype"), url("../../../fonts/custom_fonts/cabin/cabin-regular-webfont.svg#cabinregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open-sans-font';
  src: url("../../../fonts/custom_fonts/open_sans_regular/opensans-regular-webfont.eot");
  src: url("../../../fonts/custom_fonts/open_sans_regular/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/custom_fonts/open_sans_regular/opensans-regular-webfont.woff2") format("woff2"), url("../../../fonts/custom_fonts/open_sans_regular/opensans-regular-webfont.woff") format("woff"), url("../../../fonts/custom_fonts/open_sans_regular/opensans-regular-webfont.ttf") format("truetype"), url("../../../fonts/custom_fonts/open_sans_regular/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open-sans-font-bold';
  src: url("../../../fonts/custom_fonts/open_sans_bold/opensans-semibold-webfont.eot");
  src: url("../../../fonts/custom_fonts/open_sans_bold/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/custom_fonts/open_sans_bold/opensans-semibold-webfont.woff2") format("woff2"), url("../../../fonts/custom_fonts/open_sans_bold/opensans-semibold-webfont.woff") format("woff"), url("../../../fonts/custom_fonts/open_sans_bold/opensans-semibold-webfont.ttf") format("truetype"), url("../../../fonts/custom_fonts/open_sans_bold/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open-sans-font-light';
  src: url("../../../fonts/custom_fonts/open_sans/opensans-light-webfont.eot");
  src: url("../../../fonts/custom_fonts/open_sans/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/custom_fonts/open_sans/opensans-light-webfont.woff2") format("woff2"), url("../../../fonts/custom_fonts/open_sans/opensans-light-webfont.woff") format("woff"), url("../../../fonts/custom_fonts/open_sans/opensans-light-webfont.ttf") format("truetype"), url("../../../fonts/custom_fonts/open_sans/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 73, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
h1.node-title {
  font-family: cabin-font;
  font-size: 22px; }

/* line 78, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.page-node .l-content {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 75px;
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 25.42373%;
  clear: none; }

/* line 84, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.contact-tel {
  font-size: 12px;
  position: absolute;
  right: 120px; }
  /* line 88, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .contact-tel a {
    color: #4D4D4D;
    text-decoration: none; }
    /* line 91, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .contact-tel a:hover {
      color: #4baedb; }

/* line 97, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
li.email a {
  color: #efefef; }
  /* line 99, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  li.email a:hover {
    color: #4baedb; }

/* line 104, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-footer {
  position: relative; }
  /* line 108, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-footer .l-page-container .footer-help {
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
    margin-top: 250px;
    color: #fff;
    font-weight: bold;
    font-size: 18px; }
    /* line 117, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-footer .l-page-container .footer-help .footer-number {
      background: #fff;
      border-radius: 10px;
      color: #4aaddb;
      padding: 10px;
      font-size: 14px;
      display: block;
      width: 155px;
      margin: 15px auto;
      text-decoration: none; }

/* line 133, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-service-slider {
  max-height: 310px;
  overflow: hidden; }

/* line 140, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.service-row > div {
  display: inline-block; }

/* line 146, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.view-services-we-offer.view-display-id-block_1 .views-field-title a img {
  margin-top: 0; }

/* line 154, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.node--service .node__content {
  text-align: center; }

/* line 162, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.view-services-we-offer .views-field-title a img {
  margin-top: 30px; }

/* line 170, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.service-row .service-row-body a {
  text-decoration: none;
  color: #4d4d4d;
  font-family: 'open-sans-font-bold'; }
  /* line 174, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .service-row .service-row-body a:hover {
    color: #4baedb; }
/* line 179, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.service-row .service-row-left-col {
  width: 20%; }
  /* line 181, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .service-row .service-row-left-col img {
    width: 160px; }
/* line 185, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.service-row .service-row-right-col {
  width: 78%;
  vertical-align: top; }
/* line 190, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.service-row h3 a {
  text-decoration: none;
  color: #4D4D4D; }
  /* line 193, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .service-row h3 a:hover {
    color: #4baedb; }

/* line 199, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
p {
  font-size: 14px; }

/* line 202, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-4 h2 {
  margin-top: 75px;
  margin-bottom: 40px;
  font-family: cabin-font; }

/* line 208, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
input[type="submit"],
textarea,
input[type='text'] {
  -webkit-border-radius: 0;
  -webkit-border: 1px solid #ccc;
  border: 1px solid #ccc;
  -webkit-appearance: none; }

/* line 218, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-who {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #efefef;
  text-align: center; }

/* line 224, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-6 .block__content {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 16.94915%;
  clear: none;
  margin-bottom: 40px; }

/* line 229, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.front .l-slider {
  background: #efefef;
  margin-top: 40px;
  min-height: 250px; }
  /* line 234, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .front .l-slider p {
    margin: 0; }

/* line 239, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-9 h1 {
  z-index: 3;
  text-transform: uppercase;
  min-height: 0px;
  min-width: 0px;
  line-height: 65px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-size: 55px;
  left: 495px;
  top: 185px;
  visibility: visible;
  opacity: 1;
  color: #fff;
  margin-top: 130px;
  text-shadow: 0px 5px 10px #000; }

/* line 262, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-slider-content {
  overflow: hidden;
  max-height: 350px; }

/* line 266, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.front .l-who {
  background: #efefef;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px; }
  /* line 271, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .front .l-who p {
    font-size: 14px; }

/* line 276, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-4 .block__content {
  width: 65%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  margin-bottom: 75px; }

/* line 285, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-1 p {
  margin: 0; }

/* line 289, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
input[type="submit"] {
  background-color: white;
  border: 1px solid #ccc;
  padding: 2px 10px;
  font-family: 'open-sans-font-bold'; }

/* line 296, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-2 .block__content {
  width: 65%;
  margin: 0 auto; }

/* line 301, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-services {
  text-align: center; }

/* line 304, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-views-services-we-offer-block {
  display: none; }

/* line 309, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-views-services-we-offer-block-1 {
  overflow: hidden;
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px; }
  /* line 315, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block-1 img {
    width: 80px; }
  /* line 319, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block-1 .block__content a {
    color: #6d6e70;
    text-decoration: none;
    font-size: 18px; }
    /* line 323, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block-1 .block__content a:hover {
      color: #4baedb; }
  /* line 328, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block-1 .block__content ul li {
    list-style: none;
    text-align: center; }
    /* line 331, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block-1 .block__content ul li .views-field-title-custom {
      margin-bottom: 20px;
      height: 30px;
      display: block; }
    /* line 336, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block-1 .block__content ul li .views-field-field-icon {
      height: 100px; }

/* line 344, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.find-us {
  display: none; }

/* line 347, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.contact-details-block
.l-page-container {
  padding: 5px; }

/* line 352, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-10 iframe {
  height: 235px !important; }

/* line 356, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
input[type='text'] {
  width: 100%;
  height: 40px; }

/* line 360, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
textarea {
  border: #ccc 1px solid;
  height: 188px; }

/* line 365, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-5 {
  display: block;
  margin-top: 47%;
  color: #fff;
  font-weight: bold;
  text-align: center; }
  /* line 372, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-5 p {
    font-size: 18px;
    width: 56%;
    margin: 0 auto;
    padding-top: 40px; }
  /* line 378, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-5 .footer-number {
    background: #fff;
    border-radius: 10px;
    color: #4aaddb;
    padding: 10px;
    font-size: 14px;
    display: block;
    width: 155px;
    margin: 15px auto;
    text-decoration: none; }

/* line 390, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-top: 110px;
  min-height: 245px;
  background: transparent url("../../../images/footer/Footer_x3_Retina%20HD.png") repeat-x scroll 92% 56%/1120px auto; }

/* line 396, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
h2 {
  margin-top: 75px;
  margin-bottom: 40px;
  font-family: cabin-font;
  font-size: 22px; }

/* line 403, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-block-2 .block__content {
  margin-bottom: 75px; }
  /* line 405, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-2 .block__content p {
    margin: 0; }

/* line 411, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.contact-us-entityform-edit-form .form-actions {
  float: right; }

/* line 416, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.section-contact-us h1 {
  font-size: 22px;
  font-family: cabin-font; }

/* line 421, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.section-contact-us .l-main {
  padding: 20px; }

/* line 424, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.contact-details-block h4 {
  text-transform: uppercase;
  color: #4aaddb;
  font-weight: bold;
  margin: 0 0 10px 0; }

/* line 430, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.contact-details-block a {
  color: #6d6e71; }

/* line 433, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.hori-rule {
  display: none; }

/* line 437, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-menu .block__title {
  display: none; }

/* line 442, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.mobile-size #menu-icon.clicked-menu {
  background: url("../../../images/Icons/menu/3x_Retina_HD/Burger_menu_selected_3x.png") no-repeat 0 0/50px 75px; }

/* line 445, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.mobile-size #menu-icon {
  background: url("../../../images/Icons/menu/3x_Retina_HD/Burger_menu_unselected_3x.png") no-repeat 0 0/50px 35px;
  display: block;
  height: 40px;
  width: 45px;
  margin-left: 15px;
  margin-top: -75px; }

/* line 453, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.mobile-size .social-icon-selected {
  background: url("../../../images/Icons/social/3x_Retina_HD/Social_dropdown_selected_3x.png") no-repeat 0 0/33px 33px !important; }

/* line 456, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.mobile-size #social-icon {
  background: url("../../../images/Icons/social/3x_Retina_HD/Social_dropdown_unselected_3x.png") no-repeat 0 0/33px 33px;
  display: block;
  height: 65px;
  margin-left: 84%; }

/* line 463, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.main-menu.mobile-size {
  width: 40px; }

/* line 468, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.mobile-size ul.menu {
  position: absolute;
  padding: 0 0 0 20px;
  margin: 0;
  display: none; }
  /* line 473, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .mobile-size ul.menu li {
    list-style: none;
    position: relative; }
    /* line 476, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .mobile-size ul.menu li ul {
      display: none; }
    /* line 480, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .mobile-size ul.menu li:hover ul {
      display: block;
      position: absolute;
      top: 0;
      left: 109px;
      border-left: 3px solid #4baedb;
      padding: 0;
      z-index: 2; }
    /* line 490, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .mobile-size ul.menu li:hover a:before {
      content: '•';
      color: #fff;
      position: absolute;
      top: 13px;
      left: 5px;
      font-size: 20px; }
    /* line 501, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .mobile-size ul.menu li:hover ul.sub-menu a:before {
      content: '';
      color: #fff;
      position: absolute;
      top: 13px;
      left: 5px;
      font-size: 20px; }
    /* line 513, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .mobile-size ul.menu li:hover ul.sub-menu li:hover a:before {
      content: '•';
      color: #fff;
      position: absolute;
      top: 13px;
      left: 5px;
      font-size: 20px; }
    /* line 526, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .mobile-size ul.menu li a {
      color: #fff;
      background-color: #4baedb;
      background-color: rgba(75, 174, 219, 0.6);
      padding: 15px;
      display: block;
      text-decoration: none; }
      /* line 533, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .mobile-size ul.menu li a:hover {
        background-color: #4baedb; }
/* line 540, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.mobile-size ul.social-media-selected {
  display: block !important; }
/* line 543, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.mobile-size ul.social-media {
  background-color: rgba(75, 174, 219, 0.6);
  width: 50px;
  padding: 10px 0 0 0;
  margin: 0;
  display: none;
  margin-left: 83%;
  margin-top: -30px;
  position: absolute;
  border-top: 3px solid #4baedb;
  border-bottom: 3px solid #4baedb; }

/* line 560, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.l-main {
  padding: 10px; }

/* line 563, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
.display-menu {
  display: block !important; }

/* line 568, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
#block-views-services-we-offer-block-1,
#block-block-4 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media (min-width: 720px) {
  /* line 573, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .view-home-slider {
    position: relative; }
    /* line 575, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .view-home-slider .views-field-field-slider-text {
      position: absolute;
      top: 0;
      color: #fff; }

  /* line 581, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  h2 {
    margin-top: 75px;
    margin-bottom: 40px;
    font-family: cabin-font;
    font-size: 22px; }

  /* line 587, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  p {
    font-size: 14px; }

  /* line 590, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .hori-rule {
    display: block; }

  /* line 593, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-region--navigation ul li ul {
    display: none; }

  /* line 596, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .horizontal-rule {
    width: 90%;
    border-top: 1px solid #ccc;
    display: block; }

  /* line 601, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-region--navigation ul li:hover ul {
    display: block;
    position: absolute;
    background-color: #4baedb;
    background-color: rgba(75, 174, 219, 0.6);
    text-transform: none;
    border-top: 1px solid #4baedb;
    margin-left: 0;
    margin-top: 0; }

  /* line 612, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-region--navigation ul li ul li:hover a {
    color: #fff; }
    /* line 614, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-region--navigation ul li ul li:hover a:before {
      content: '•';
      color: #fff;
      position: absolute;
      top: 8px;
      left: 5px;
      font-size: 20px; }

  /* line 627, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-region--navigation ul li ul li {
    display: block;
    margin: 0;
    border-left: none;
    padding: 0;
    position: relative; }

  /* line 634, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-region--navigation ul li ul li a {
    color: #fff;
    display: block;
    padding: 10px 10px 10px 20px;
    text-transform: none;
    min-width: 245px;
    font-family: open-sans-font-light; }

  /* line 642, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-region--navigation ul li ul li:nth-child(1) a {
    padding-left: 20px !important; }

  /* line 646, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-menu ul {
    padding: 0;
    z-index: 10; }
    /* line 650, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-menu ul > li:nth-child(1) a {
      padding-left: 0;
      border-left: 0; }
    /* line 655, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-menu ul > li {
      display: inline-block;
      border-left: 3px solid white; }
      /* line 659, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-menu ul > li a.active {
        color: #4baedb; }
      /* line 662, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-menu ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        color: #4D4D4D;
        font-family: 'open-sans-font-bold';
        display: block;
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 10px;
        padding-top: 9px;
        border-left: 3px solid #fff; }
        /* line 673, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        .l-menu ul > li > a:hover {
          color: #4baedb; }
    /* line 681, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-menu ul li.expanded:hover a {
      color: #fff;
      background-color: #4baedb;
      background-color: rgba(75, 174, 219, 0.6);
      border-left: 3px solid #4baedb; }
      /* line 686, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-menu ul li.expanded:hover a:hover {
        font-family: open-sans-font-bold;
        background-color: #4baedb; }
    /* line 694, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-menu ul li.expanded ul li a {
      border-left: 3px solid #4baedb;
      min-width: 258px; }

  /* line 704, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-8 {
    margin-top: 27%; }

  /* line 707, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-page-container {
    width: 720px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    *zoom: 1; }
    /* line 712, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-page-wrapper {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 715, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-header {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      overflow: hidden;
      *zoom: 1; }
      /* line 719, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-branding {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
        position: relative; }
      /* line 723, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-menu {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 726, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-logo {
        width: 74.57627%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; }
      /* line 729, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-region--branding {
        width: 23.72881%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
        margin-top: 30px; }

  /* line 735, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-map {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 738, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-who {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    background: #efefef;
    text-align: center; }

  /* line 743, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-services {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center; }

  /* line 747, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-main {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 751, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-2 .block__content {
    margin-bottom: 75px;
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
    /* line 754, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-2 .block__content p {
      margin: 0; }

  /* line 760, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-6 .block__content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    margin-bottom: 40px; }

  /* line 765, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-bottom: 30px; }
    /* line 768, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 h2 {
      margin-top: 75px;
      margin-bottom: 40px;
      font-family: cabin-font; }
    /* line 773, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 .block__content {
      margin-bottom: 75px;
      width: 74.57627%;
      float: left;
      margin-right: -100%;
      margin-left: 8.47458%;
      clear: none; }
      /* line 776, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-block-4 .block__content p {
        margin: 0; }

  /* line 781, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block {
    display: block;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 784, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block img {
      width: 80px; }
    /* line 787, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block .block__content {
      width: 74.57627%;
      float: left;
      margin-right: -100%;
      margin-left: 8.47458%;
      clear: none; }
      /* line 789, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content a {
        color: #6d6e70;
        text-decoration: none;
        font-size: 18px; }
        /* line 793, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content a:hover {
          color: #4baedb; }
      /* line 797, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content .view-content {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
        /* line 799, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content .view-content .views-row {
          display: inline-block;
          width: 48%;
          margin-bottom: 50px;
          text-align: center; }
          /* line 804, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
          #block-views-services-we-offer-block .block__content .view-content .views-row .views-field-title {
            margin-bottom: 20px; }

  /* line 811, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block-1 {
    display: none; }

  /* line 814, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 110px;
    min-height: 360px;
    background: transparent url("../../../images/footer/Footer_x3_Retina%20HD.png") repeat-x scroll 0% 90%/75% auto; }
    /* line 819, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-footer #block-block-5 {
      display: block;
      margin-top: 35%;
      color: #fff;
      font-weight: bold;
      text-align: center; }
      /* line 825, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 p {
        font-size: 18px; }
      /* line 828, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 .footer-number {
        background: #fff;
        border-radius: 10px;
        color: #4aaddb;
        padding: 10px;
        font-size: 14px;
        width: 20%;
        margin: 15px 35px; }

  /* line 841, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .group-enquiries {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    overflow: hidden;
    *zoom: 1; }
    /* line 844, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-personal {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 847, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-message {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }

  /* line 858, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  input[type='text'] {
    width: 100%;
    height: 40px;
    -webkit-border-radius: 0;
    -webkit-appearance: none; }

  /* line 864, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  textarea {
    border: #ccc 1px solid;
    height: 188px; }

  /* line 869, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .contact-details-block h4 {
    text-transform: uppercase;
    color: #4aaddb;
    font-weight: bold;
    margin: 0 0 10px 0; }
  /* line 875, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .contact-details-block a {
    color: #6d6e71; }
    /* line 877, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .contact-details-block a:hover {
      color: #4aaddb; }
  /* line 881, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .contact-details-block .left-contact {
    float: left;
    margin-right: 90px; }
  /* line 885, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .contact-details-block .right-contact {
    float: left; }

  /* line 889, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-10 {
    position: relative; }
    /* line 891, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-10 iframe {
      height: 600px !important; }

  /* line 895, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .find-us {
    display: block;
    padding: 20px;
    background-color: rgba(75, 174, 219, 0.6);
    color: #fff;
    width: 365px;
    position: absolute;
    left: 45%;
    top: 58%; }
    /* line 904, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .find-us h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-family: cabin-font; }
    /* line 909, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .find-us h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-family: cabin-font; }
    /* line 914, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .find-us p {
      margin-top: 30px; }

  /* line 918, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-5 p {
    width: 100%; }

  /* line 921, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .front .l-slider {
    background: #efefef;
    margin-top: 40px;
    background: #efefef url("/sites/all/themes/omega_codepulse/images/The_City_London.jpg") no-repeat 0 0px/100% auto;
    min-height: 250px; }

  /* line 928, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .front .l-slider {
    margin: 0;
    min-height: 350px; } }
@media (min-width: 960px) {
  /* line 936, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  h2 {
    margin-top: 75px;
    margin-bottom: 40px;
    font-family: cabin-font;
    font-size: 22px; }

  /* line 942, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  p {
    font-size: 14px; }

  /* line 946, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-page-container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1; }
    /* line 950, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-page-wrapper {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 953, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-header {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      overflow: hidden;
      *zoom: 1; }
      /* line 957, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-branding {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 960, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-menu {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 963, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-logo {
        width: 74.57627%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; }
      /* line 966, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-region--branding {
        width: 23.72881%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }

  /* line 971, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-who {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    background: #efefef;
    text-align: center; }

  /* line 976, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-services {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center; }

  /* line 980, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-main {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 984, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-2 .block__content {
    margin-bottom: 75px;
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none; }
    /* line 987, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-2 .block__content p {
      margin: 0; }

  /* line 993, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-6 .block__content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    margin-bottom: 40px; }

  /* line 998, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 1000, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 h2 {
      margin-top: 75px;
      margin-bottom: 40px;
      font-family: cabin-font; }
    /* line 1005, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 .block__content {
      margin-bottom: 75px;
      width: 49.15254%;
      float: left;
      margin-right: -100%;
      margin-left: 25.42373%;
      clear: none; }
      /* line 1008, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-block-4 .block__content p {
        margin: 0; }

  /* line 1013, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 1015, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block img {
      width: 80px; }
    /* line 1018, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block .block__content {
      width: 66.10169%;
      float: left;
      margin-right: -100%;
      margin-left: 16.94915%;
      clear: none; }
      /* line 1020, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content a {
        color: #6d6e70;
        text-decoration: none;
        font-size: 18px; }
        /* line 1024, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content a:hover {
          color: #4baedb; }
      /* line 1028, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content .view-content {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
        /* line 1030, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content .view-content .views-row {
          display: inline-block;
          width: 32%;
          margin-bottom: 50px;
          text-align: center; }
          /* line 1035, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
          #block-views-services-we-offer-block .block__content .view-content .views-row .views-field-title {
            margin-bottom: 20px; }

  /* line 1042, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 110px;
    min-height: 375px;
    background: transparent url("../../../images/footer/Footer_x3_Retina%20HD.png") repeat-x scroll 0% 90%/75% auto; }
    /* line 1047, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-footer #block-block-5 {
      margin-top: 29%;
      color: #fff;
      font-weight: bold;
      text-align: center; }
      /* line 1052, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 p {
        font-size: 24px; }
      /* line 1055, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 .footer-number {
        background: #fff;
        border-radius: 10px;
        color: #4aaddb;
        padding: 10px;
        font-size: 18px;
        display: inline-block;
        width: 20%; }

  /* line 1066, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .group-enquiries {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 1069, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-personal {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 1072, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-message {
      width: 66.10169%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 1075, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .form-actions {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }

  /* line 1080, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  input[type='text'] {
    width: 100%;
    height: 40px; }

  /* line 1084, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  textarea {
    border: #ccc 1px solid;
    height: 188px; }

  /* line 1088, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .find-us {
    left: 60%; }

  /* line 1091, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .front .l-slider {
    background: #efefef url("/sites/all/themes/omega_codepulse/images/The_City_London.jpg") no-repeat 0 -100px/100% auto; } }
@media (min-width: 1200px) {
  /* line 1099, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  h2 {
    margin-top: 75px;
    margin-bottom: 40px;
    font-family: cabin-font;
    font-size: 22px; }

  /* line 1105, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  p {
    font-size: 14px; }

  /* line 1108, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-page-container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1; }
    /* line 1112, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-page-wrapper {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 1115, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-page-container .l-header {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      overflow: hidden;
      *zoom: 1; }
      /* line 1119, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-branding {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 1122, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-menu {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 1126, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-logo {
        width: 74.57627%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; }
      /* line 1129, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-page-container .l-header .l-region--branding {
        width: 23.72881%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }

  /* line 1134, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-who {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 1137, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-services {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 1140, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-main {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 1144, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-2 .block__content {
    margin-bottom: 75px;
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none; }
    /* line 1147, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-2 .block__content p {
      margin: 0; }

  /* line 1153, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-6 .block__content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    margin-bottom: 40px; }

  /* line 1158, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-block-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 1160, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 h2 {
      margin-top: 75px;
      margin-bottom: 40px;
      font-family: cabin-font; }
    /* line 1165, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-block-4 .block__content {
      margin-bottom: 75px;
      width: 49.15254%;
      float: left;
      margin-right: -100%;
      margin-left: 25.42373%;
      clear: none; }
      /* line 1168, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-block-4 .block__content p {
        margin: 0; }

  /* line 1173, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  #block-views-services-we-offer-block {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 1175, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block img {
      width: 80px; }
    /* line 1178, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    #block-views-services-we-offer-block .block__content {
      width: 66.10169%;
      float: left;
      margin-right: -100%;
      margin-left: 16.94915%;
      clear: none; }
      /* line 1180, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content a {
        color: #6d6e70;
        text-decoration: none;
        font-size: 18px; }
        /* line 1184, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content a:hover {
          color: #4baedb; }
      /* line 1188, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      #block-views-services-we-offer-block .block__content .view-content {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
        /* line 1190, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
        #block-views-services-we-offer-block .block__content .view-content .views-row {
          display: inline-block;
          width: 32%;
          margin-bottom: 50px;
          text-align: center; }
          /* line 1195, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
          #block-views-services-we-offer-block .block__content .view-content .views-row .views-field-title {
            margin-bottom: 20px; }

  /* line 1202, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 110px;
    min-height: 615px;
    background: transparent url("../../../images/footer/Footer_x3_Retina%20HD.png") repeat-x scroll 0% 90%/75% auto; }
    /* line 1207, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-footer #block-block-5 {
      margin-top: 33%;
      color: #fff;
      font-weight: bold;
      text-align: center; }
      /* line 1212, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 p {
        font-size: 24px; }
      /* line 1215, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer #block-block-5 .footer-number {
        background: #fff;
        border-radius: 10px;
        color: #4aaddb;
        padding: 10px;
        font-size: 18px; }

  /* line 1224, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .group-enquiries {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 1227, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-personal {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 1230, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .group-message {
      width: 66.10169%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 1233, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .group-enquiries .form-actions {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }

  /* line 1238, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  input[type='text'] {
    width: 100%;
    height: 40px; }

  /* line 1242, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  textarea {
    border: #ccc 1px solid;
    height: 188px; }

  /* line 1246, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .find-us {
    left: 70%; }

  /* line 1250, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .front .l-slider {
    background: #efefef url("/sites/all/themes/omega_codepulse/images/The_City_London.jpg") no-repeat 0 -305px/100% auto; }

  /* line 1253, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
  .l-footer {
    position: relative; }
    /* line 1257, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
    .l-footer .l-page-container .footer-help {
      margin: auto;
      padding: 10px;
      text-align: center;
      margin-top: 460px;
      color: #fff;
      font-weight: bold;
      font-size: 24px; }
      /* line 1266, ../../../sass/layouts/front/omega_codepulse-front.layout.scss */
      .l-footer .l-page-container .footer-help .footer-number {
        background: #fff;
        border-radius: 10px;
        color: #4aaddb;
        padding: 10px;
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
        width: 200px;
        margin: 15px 35px; } }

/*# sourceMappingURL=omega_codepulse-front.layout.css.map */
