@import "compass";
@import "breakpoint";
@import "singularitygs";

.l-page {
}

.l-slider {
}

.l-slider-content {
  overflow: hidden;
  max-height: 350px;
}
.l-menu{
  .block__title{
    display:none;
  }
  ul {
    padding:0;
    li{
      display:inline-block;
      margin-right:25px;
    }
  }
}

@include breakpoint(960px){//medium
  body{
    background:red;
  }
  .l-page-container {
    width: 960px;
    @include clearfix;
    .l-header {
      @include grid-span(9, 4);
      @include clearfix;

      .l-branding{
        @include grid-span(12, 1);
      }
      .l-menu{
        @include grid-span(12, 1);
      }
      .l-logo {
        @include grid-span(8, 1)
      }
      .l-region--branding {
        @include grid-span(4, 9)
      }
    }
  }

}
@include breakpoint(1200px) { //desktop
  body{
    background:green;
  }
  .l-page-container {
    width: 1200px;
    margin:0 auto;
  @include clearfix;
  .l-page-wrapper{
    @include grid-span(12, 1);
  }
    .l-header {
      @include grid-span(12, 1);
      @include clearfix;

      .l-branding{
        @include grid-span(12, 1);
      }
      .l-menu{
        @include grid-span(12, 1);
      }
      .l-logo {
        @include grid-span(9, 1)
      }
      .l-region--branding {
        @include grid-span(3, 10)
      }
    }
  }
  .l-who{
    @include grid-span(12, 1);
  }

}

